/**
 *COLOUR SCHEME:
 * BLUE: 00A0B0
 * BROWN: 6A4A3C
 * RED: CC333F
 * ORANGE: EB6841
 * YELLOW: EDC951
 *
 */

body {
    background: url('/static/bg.png') fixed center center;
    margin: 0;
    font-family: sans-serif;
}
h1 {
    margin: 0;
    padding: 1em;
    color: #CC333F;
}
/********
 * LAYOUT
 *******/
#container {
    background: #EB6841;
    margin: 0 auto;
    padding: 0 10px;
    width: 600px;
}
#winner {
    background: #CC333F;
    padding: 5px;
}
#tweets {
    padding: 0 0 1000px 0 ;
}
/*******
 *TWEETS
 ******/
.tweet {
    margin: 0 0 20px 0;
    color: white;
}
.tweet img {
    float: left;
    margin: 4px 6px 0 0;
}
.tweet .twitter-username a {
    color: #EDC951;
    font-weight: bold;
}
